{% extends "base.html" %}
{% block head %}
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="{{ color }}" name="theme-color" />
    <meta property="og:site_name" content="{{ info.title }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ info.description }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ info.author_name }}" />
    <meta name="twitter:image" content="{{ info.url }}" />
    <meta name="twitter:image:width" content="{{ info.width }}" />
    <meta name="twitter:image:height" content="{{ info.height }}" />

    <meta property="og:image" content="{{ info.url|safe }}" />
    <meta property="og:image:width" content="{{ info.width }}" />
    <meta property="og:image:height" content="{{ info.height }}" />

    <meta http-equiv="refresh" content="0; url = {{ url }}" />

{% endblock %}