{% extends "base.html" %}
{% block head %}
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="{{ color }}" name="theme-color" />
    <meta property="og:site_name" content="{{ info.title }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ info.author_name }}" />
    <meta property="og:description" content="{{ info.description }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ info.author_name }}" />
    {% if info.author_avatar %}
    <meta property="og:image"  content="{{ info.author_avatar }}" />
    <meta name="twitter:image" content="{{ info.author_avatar }}" />
    {% endif %}

{% endblock %}